@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Product Management</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">New Product</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="productname">Product Name</label>
								<input type="text" class="form-control" asp-for="ProductName" id="productname">
							</div>

							<div class="form-group">
								<label for="price">Product Prıce</label>
								<input type="text" class="form-control" asp-for="Price" id="price">
							</div>
							<div class="form-group">
								<label for="imageurl">Product Image URL</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
							</div>
							<div class="form-group">
								<label for="categoryname">Select Product Category</label>
								@Html.DropDownListFor(XmlConfigurationExtensions => XmlConfigurationExtensions.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
							</div>

							<div class="form-group">
								<label for="descirption">Product Description</label>
								<input type="text" class="form-control" asp-for="Description" id="descirption">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Save New Product</button>

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


